[submodule "libs/Arduino-Log"]
	path = libs/Arduino-Log
	url = https://github.com/thijse/Arduino-Log.git
[submodule "libs/SoftwareSerial"]
	path = libs/SoftwareSerial
	url = https://github.com/akshaybaweja/SoftwareSerial
